body{
    background: url(https://i.pinimg.com/originals/5d/78/66/5d7866cb4a18492c7e8596150e917f95.jpg);
    background-size: cover;
    /*background-repeat: no-repeat;
    background-size: cover;*/
}
